body
{
  color: black;
  
  background-image: url('/images/bg.png');
  background-repeat: repeat;
}

h1
{
  font-size: 35px;
  margin-bottom: 1em; 
}

li
{
   list-style-type:none; 
}

.header
{
  height:250px;
  background-color : white;
}
.clearer
{
  clear: both;
}
.wrapper
{
  margin: 4em auto 0;
  width: 943px;
}
.content
{
  background-color : white;
  margin-top: 2px;
  padding: 5em 5em 0 5em;
  min-height: 400px;
  
}

.sprints
{
  -moz-border-radius: 15px;
  min-height: 120px;
  margin-bottom:3em;
  border: 2px solid #999999;
  padding: 2px 2px 2px 2px;
}
.sprint .graph, .sprint .info, .sprint .links
{
  margin-top : 20px;
}
.sprint .graph{
margin-left : 5em;
 float:left;
}
.sprint .links, .sprint .info{
  float:right;
}
































